@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

// Overrides user variable
@import "../core/variables/components-variables";

.list-view {
  margin-top: 0.7rem;
}

.list-view {
  .ecommerce-card {
    .card-content {
      grid-template-columns: 1fr;
      .item-img {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      // to remove card-body border
      .card-body {
        border: none;
      }
    }
  }
}

.ecommerce-card {
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 25px 0 rgba($pure-black, 0.25);
  }
  .item-price {
    font-weight: 700;
  }
  .item-name {
    font-weight: 600;
    color: $headings-color;
    a {
      color: $headings-color;
    }
  }
}

.list-view {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  .ecommerce-card {
    overflow: hidden;
    .card-content {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      .item-img {
        align-self: center;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .card-body {
        padding: 1rem;
        padding-bottom: 0.5rem;
        border-right: 1px solid $gray-300;
        .item-price {
          display: none;
        }
        .item-name {
          margin-bottom: 0.25rem;
          font-size: 1.5rem;
        }
      }
      .item-options {
        padding: 1rem;

        .item-wrapper {
          position: relative;
          .item-cost {
            .item-price {
              position: relative;
              top: 75px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.checkout-items {
  .ecommerce-card {
    .card-content {
      .item-quantity {
        font-weight: 700;
        font-size: 1rem;
        .quantity-title {
          color: $headings-color;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.price-details {
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  .detail-title {
    color: $text-muted;
    &.detail-total {
      color: $body-color;
      font-weight: 600;
    }
  }
  .detail-amt {
    &.discount-amt {
      color: $success;
    }
    &.emi-details {
      color: $primary;
      cursor: pointer;
    }
    &.total-amt {
      font-weight: 600;
    }
  }
}

.payment-options {
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.radio-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vx-radio-con {
  input:checked ~ span {
    color: $primary;
  }
  .vx-radio {
    margin-right: 1rem;
  }
}
