// Core variables and mixin
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

// Overrides user variable
@import "../core/variables/components-variables";


.item-card{
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 500;
  &:hover {
    transform: translateY(-4px);
  }
}
